# **Data cleaning and sorting**
This notebook covers a summary come detailed analysis of the contents of the text (.tsv) country files generated from [01.Data_downloading_and_transformation](./01.Data_downloading_and_transformation.ipnb)
## **Goals**
1. To Understand the summary contents of the .tsv files
2. To Analyse the outlook of each sequence: length and content

### **Chacking installation status of packages, Installing tidyverse package and loading dplyr or magrittr packages**

In [1]:
getwd()

[1] "/home/kibet/bioinformatics/github/co1_metaanalysis/code"

In [2]:
#Checking if a package is installed and if not installed it is installed. if installed it is loaded. "install.packages("tidyverse")" installs tidyverse
cat("\nChecking if needed packages are installed... 'tidyverse','dplyr' and 'magrittr'")
if("tidyverse" %in% rownames(installed.packages()) == FALSE) {
        install.packages("tidyverse")
} else {
        cat("\nExcellent tidyverse already installed.\nproceeding with clean_up and sorting\n")
        ## loads dplyr and magrittr packages
        suppressMessages(library(dplyr))
        suppressMessages(library(magrittr))
        suppressMessages(library(tools))
}

Checking if needed packages are installed... 'tidyverse','dplyr' and 'magrittr'
Excellent tidyverse already installed.
proceeding with clean_up and sorting

In [3]:
suppressMessages(library(dplyr));suppressMessages(library(magrittr))

### **Loading the .tsv data file to R**

In [4]:
bold_data = read.delim("/home/kibet/bioinformatics/github/co1_metaanalysis/data/input/clean_africa/enafroCOI_all_data_raw.tsv", 
                       stringsAsFactors = F, header = T, na.strings = "") 
# seems to work ok. bold2.tsv does not contain any '\r' characters

### **The Overall look of the data**

In [5]:
str(bold_data)

'data.frame':	279205 obs. of  80 variables:
 $ processid                 : chr  "ANGBF10860-15" "ANGBF10861-15" "ANGBF10862-15" "ANGBF10863-15" ...
 $ sampleid                  : chr  "KM819813" "KM819812" "KM819811" "KM819810" ...
 $ recordID                  : num  5651907 5651908 5651909 5651910 5651911 ...
 $ catalognum                : chr  NA NA NA NA ...
 $ fieldnum                  : chr  "KM819813" "KM819812" "KM819811" "KM819810" ...
 $ institution_storing       : chr  "Mined from GenBank, NCBI" "Mined from GenBank, NCBI" "Mined from GenBank, NCBI" "Mined from GenBank, NCBI" ...
 $ collection_code           : int  NA NA NA NA NA NA NA NA NA NA ...
 $ bin_uri                   : chr  "BOLD:AAA1548" "BOLD:AAA1548" "BOLD:AAA1548" "BOLD:AAA1548" ...
 $ phylum_taxID              : int  18 18 18 18 18 18 18 18 18 18 ...
 $ phylum_name               : chr  "Chordata" "Chordata" "Chordata" "Chordata" ...
 $ class_taxID               : int  34196 34196 34196 34196 34196 34196 34196 34196 34196 34196 ...
 $ class_name                : chr  "Elasmobranchii" "Elasmobranchii" "Elasmobranchii" "Elasmobranchii" ...
 $ order_taxID               : chr  "214" "214" "214" "214" ...
 $ order_name                : chr  "Carcharhiniformes" "Carcharhiniformes" "Carcharhiniformes" "Carcharhiniformes" ...
 $ family_taxID              : int  937 937 937 937 937 937 937 937 937 937 ...
 $ family_name               : chr  "Scyliorhinidae" "Scyliorhinidae" "Scyliorhinidae" "Scyliorhinidae" ...
 $ subfamily_taxID           : chr  NA NA NA NA ...
 $ subfamily_name            : chr  NA NA NA NA ...
 $ genus_taxID               : chr  "2945" "2945" "2945" "2945" ...
 $ genus_name                : chr  "Scyliorhinus" "Scyliorhinus" "Scyliorhinus" "Scyliorhinus" ...
 $ species_taxID             : chr  "12796" "12796" "12796" "12796" ...
 $ species_name              : chr  "Scyliorhinus canicula" "Scyliorhinus canicula" "Scyliorhinus canicula" "Scyliorhinus canicula" ...
 $ subspecies_taxID          : chr  NA NA NA NA ...
 $ subspecies_name           : chr  NA NA NA NA ...
 $ identification_provided_by: chr  NA NA NA NA ...
 $ identification_method     : chr  NA NA NA NA ...
 $ identification_reference  : chr  "Linnaeus, 1758" "Linnaeus, 1758" "Linnaeus, 1758" "Linnaeus, 1758" ...
 $ tax_note                  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ voucher_status            : chr  NA NA NA NA ...
 $ tissue_type               : chr  NA NA NA NA ...
 $ collection_event_id       : chr  NA NA NA NA ...
 $ collectors                : chr  "Farid Hemida" "Farid Hemida" "Farid Hemida" "Farid Hemida" ...
 $ collectiondate_start      : chr  NA NA NA NA ...
 $ collectiondate_end        : chr  NA NA NA NA ...
 $ collectiontime            : chr  NA NA NA NA ...
 $ collection_note           : chr  NA NA NA NA ...
 $ site_code                 : chr  NA NA NA NA ...
 $ sampling_protocol         : chr  NA NA NA NA ...
 $ lifestage                 : chr  NA NA NA NA ...
 $ sex                       : chr  NA NA NA NA ...
 $ reproduction              : chr  NA NA NA NA ...
 $ habitat                   : chr  NA NA NA NA ...
 $ associated_specimens      : chr  NA NA NA NA ...
 $ associated_taxa           : chr  NA NA NA NA ...
 $ extrainfo                 : chr  "taxon:7830" "taxon:7830" "taxon:7830" "taxon:7830" ...
 $ notes                     : chr  NA NA NA NA ...
 $ lat                       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ lon                       : num  NA NA NA NA NA NA NA NA NA NA ...
 $ coord_source              : chr  NA NA NA NA ...
 $ coord_accuracy            : num  NA NA NA NA NA NA NA NA NA NA ...
 $ elev                      : num  NA NA NA NA NA NA NA NA NA NA ...
 $ depth                     : num  NA NA NA NA NA NA NA NA NA NA ...
 $ elev_accuracy             : num  NA NA NA NA NA NA NA NA NA NA ...
 $ depth_accuracy            : int  NA NA NA NA NA NA NA NA NA NA ...
 $ country                   : chr  "Algeria" "Algeria" "Algeria" "Algeria" ...
 $ province_state            : chr  NA NA NA NA ...
 $ region                    : chr  "Cap Djinet" "Cap Djinet" "Cap Djinet" "Cap Djinet" ...
 $ sector                    : chr  NA NA NA NA ...
 $ exactsite                 : chr  NA NA NA NA ...
 $ image_ids                 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ image_urls                : chr  NA NA NA NA ...
 $ media_descriptors         : chr  NA NA NA NA ...
 $ captions                  : chr  NA NA NA NA ...
 $ copyright_holders         : chr  NA NA NA NA ...
 $ copyright_years           : int  NA NA NA NA NA NA NA NA NA NA ...
 $ copyright_licenses        : chr  NA NA NA NA ...
 $ copyright_institutions    : chr  NA NA NA NA ...
 $ photographers             : chr  NA NA NA NA ...
 $ sequenceID                : int  7214144 7214143 7214142 7214141 7214140 7214139 7214134 7214133 7214132 7214131 ...
 $ markercode                : chr  "COI-5P" "COI-5P" "COI-5P" "COI-5P" ...
 $ genbank_accession         : chr  "KM819813" "KM819812" "KM819811" "KM819810" ...
 $ nucleotides               : chr  "GAGCTGAGTTAGGTCAGCCGGGTTCACTTTTAGGGGATGATCAGATTTATAATGTAATCGTAACTGCCCATGCTTTCGTAATAATCTTCTTTATAGTTATGCCAGTAATAA"| __truncated__ "GAGCTGAGTTAGGTCAGCCGGGTTCACTTTTAGGGGATGATCAGATTTATAATGTAATCGTAACTGCCCATGCTTTCGTAATAATCTTCTTTATAGTTATGCCAGTAATAA"| __truncated__ "GAGCTGAGTTAGGTCAGCCGGGTTCACTTTTAGGGGATGATCAGATTTATAATGTAATCGTAACTGCCCATGCTTTCGTAATAATCTTCTTTATAGTTATGCCAGTAATAA"| __truncated__ "GAGCTGAGTTAGGTCAGCCGGGTTCACTTTTAGGGGATGATCAGATTTATAATGTAATCGTAACTGCCCATGCTTTCGTAATAATCTTCTTTATAGTTATGCCAGTAATAA"| __truncated__ ...
 $ trace_ids                 : int  NA NA NA NA NA NA NA NA NA NA ...
 $ trace_names               : chr  NA NA NA NA ...
 $ trace_links               : chr  NA NA NA NA ...
 $ run_dates                 : chr  NA NA NA NA ...
 $ sequencing_centers        : chr  NA NA NA NA ...
 $ directions                : chr  NA NA NA NA ...
 $ seq_primers               : chr  NA NA NA NA ...
 $ marker_codes              : chr  NA NA NA NA ...

In [6]:
print(names(bold_data))

 [1] "processid"                  "sampleid"
 [3] "recordID"                   "catalognum"
 [5] "fieldnum"                   "institution_storing"
 [7] "collection_code"            "bin_uri"
 [9] "phylum_taxID"               "phylum_name"
[11] "class_taxID"                "class_name"
[13] "order_taxID"                "order_name"
[15] "family_taxID"               "family_name"
[17] "subfamily_taxID"            "subfamily_name"
[19] "genus_taxID"                "genus_name"
[21] "species_taxID"              "species_name"
[23] "subspecies_taxID"           "subspecies_name"
[25] "identification_provided_by" "identification_method"
[27] "identification_reference"   "tax_note"
[29] "voucher_status"             "tissue_type"
[31] "collection_event_id"        "collectors"
[33] "collectiondate_start"       "collectiondate_end"
[35] "collectiontime"             "collection_note"
[37] "site_code"                  "sampling_protocol"
[39] "lifestage"                  "sex"
[41] "reproduction"               "habitat"
[43] "associated_specimens"       "associated_taxa"
[45] "extrainfo"                  "notes"
[47] "lat"                        "lon"
[49] "coord_source"               "coord_accuracy"
[51] "elev"                       "depth"
[53] "elev_accuracy"              "depth_accuracy"
[55] "country"                    "province_state"
[57] "region"                     "sector"
[59] "exactsite"                  "image_ids"
[61] "image_urls"                 "media_descriptors"
[63] "captions"                   "copyright_holders"
[65] "copyright_years"            "copyright_licenses"
[67] "copyright_institutions"     "photographers"
[69] "sequenceID"                 "markercode"
[71] "genbank_accession"          "nucleotides"
[73] "trace_ids"                  "trace_names"
[75] "trace_links"                "run_dates"
[77] "sequencing_centers"         "directions"
[79] "seq_primers"                "marker_codes"

### **Countries represented**
Note: Countries include; Atlantic Ocean(137), Costa Rica(1291), Indian Ocean(3), India(1), Israel(27) and United States(2) = 1461 in total

In [6]:
cat(length(unique(bold_data$country)), "countries are represented in bold_data: ")
cat(c(unique(bold_data$country)), sep=";")
as.data.frame(table(c(bold_data$country)))

62 countries are represented in bold_data: Algeria;NA;Angola;Atlantic Ocean;Benin;Botswana;Burkina Faso;Burundi;Cameroon;Cape Verde;Central African Republic;Chad;Comoros;Cote d'Ivoire;Democratic Republic of the Congo;Djibouti;Egypt;Israel;Equatorial Guinea;Eritrea;Ethiopia;Gabon;Gambia;Ghana;Guinea-Bissau;Guinea;Kenya;Lesotho;South Africa;Costa Rica;Liberia;Libya;Madagascar;Malawi;Mali;Mauritania;Mauritius;Morocco;United States;Mozambique;Indian Ocean;Namibia;Nigeria;Niger;Republic of the Congo;Reunion;Rwanda;Sao Tome and Principe;Senegal;Seychelles;India;Sierra Leone;Somalia;South Sudan;Sudan;Swaziland;Tanzania;Togo;Tunisia;Uganda;Zambia;Zimbabwe

   Var1                             Freq
1  Algeria                           1142
2  Angola                            1327
3  Atlantic Ocean                     137
4  Benin                              940
5  Botswana                           668
6  Burkina Faso                       300
7  Burundi                            256
8  Cameroon                          7266
9  Cape Verde                         689
10 Central African Republic          3486
11 Chad                                45
12 Comoros                           1399
13 Costa Rica                        1291
14 Cote d'Ivoire                      745
15 Democratic Republic of the Congo  7579
16 Djibouti                           471
17 Egypt                            20966
18 Equatorial Guinea                  478
19 Eritrea                             30
20 Ethiopia                          3791
21 Gabon                            16888
22 Gambia                             129
23 Ghana                             4172
24 Guinea                            1034
25 Guinea-Bissau                       99
26 India                                1
27 Indian Ocean                         3
28 Israel                              27
29 Kenya                            29479
30 Lesotho                             66
⋮  ⋮                                ⋮
32 Libya                               92
33 Madagascar                       50288
34 Malawi                            1898
35 Mali                               337
36 Mauritania                         163
37 Mauritius                         1735
38 Morocco                           5192
39 Mozambique                        2810
40 Namibia                           2448
41 Niger                               73
42 Nigeria                           2858
43 Republic of the Congo             2129
44 Reunion                           2035
45 Rwanda                             787
46 Sao Tome and Principe              259
47 Senegal                           1475
48 Seychelles                        2266
49 Sierra Leone                       307
50 Somalia                            259
51 South Africa                     74859
52 South Sudan                         39
53 Sudan                              182
54 Swaziland                          220
55 Tanzania                         11013
56 Togo                               263
57 Tunisia                           2269
58 Uganda                            2185
59 United States                        2
60 Zambia                            3212
61 Zimbabwe                          1405

## **Loading sample data from exclusively East Africa:**
1. Kenya, 
2. Tanzania, 
3. Uganda, 
4. Rwanda, 
5. Burundi, 
6. South Sudan and 
7. Ethiopia

### **Looking at the summary of the sample_dataframe.**

In [8]:
sample_data = read.delim("../data/input/test_data/bold.tsv", 
                         stringsAsFactors = F, header = T, na.strings = "") 
str(sample_data)

'data.frame':	41238 obs. of  80 variables:
 $ processid                 : chr  "ACRJP031-09" "ACRJP194-09" "ACRJP221-09" "ACRJP419-10" ...
 $ sampleid                  : chr  "BC-MNHNJP0313" "BC-MNHNJP0536" "BC-MNHNJP0563" "BC-MNHNJP0856" ...
 $ recordID                  : int  1134352 1134515 1134542 1608687 1608835 2496776 2506330 2506373 2506395 2508075 ...
 $ catalognum                : chr  NA NA NA NA ...
 $ fieldnum                  : chr  "BC-MNHNJP0313" "BC-MNHNJP0536" "BC-MNHNJP0563" "BC-MNHNJP0856" ...
 $ institution_storing       : chr  "Research Collection of Dominique Bernaud" "Museum National d'Histoire Naturelle, Paris" "Museum National d'Histoire Naturelle, Paris" "Research Collection of Dominique Bernaud" ...
 $ collection_code           : logi  NA NA NA NA NA NA ...
 $ bin_uri                   : chr  "BOLD:AAC9562" "BOLD:AAE8435" "BOLD:AAD8963" "BOLD:AAE0506" ...
 $ phylum_taxID              : int  20 20 20 20 20 20 20 20 20 20 ...
 $ phylum_name               : chr  "Arthropoda" "Arthropoda" "Arthropoda" "Arthropoda" ...
 $ class_taxID               : int  82 82 82 82 82 82 82 82 82 82 ...
 $ class_name                : chr  "Insecta" "Insecta" "Insecta" "Insecta" ...
 $ order_taxID               : int  113 113 113 113 113 113 113 113 113 113 ...
 $ order_name                : chr  "Lepidoptera" "Lepidoptera" "Lepidoptera" "Lepidoptera" ...
 $ family_taxID              : int  723 NA NA 723 NA NA 665 NA 425 545 ...
 $ family_name               : chr  "Nymphalidae" NA NA "Nymphalidae" ...
 $ subfamily_taxID           : int  3591 NA NA 3591 NA NA NA NA 5833 NA ...
 $ subfamily_name            : chr  "Heliconiinae" NA NA "Heliconiinae" ...
 $ genus_taxID               : int  7130 NA NA 7130 NA NA NA NA 720479 NA ...
 $ genus_name                : chr  "Acraea" NA NA "Acraea" ...
 $ species_taxID             : int  214325 NA NA 313800 NA NA NA NA 720486 NA ...
 $ species_name              : chr  "Acraea schubotzi" NA NA "Acraea ducarmei" ...
 $ subspecies_taxID          : int  NA NA NA NA NA NA NA NA NA NA ...
 $ subspecies_name           : chr  NA NA NA NA ...
 $ identification_provided_by: chr  "Bernaud Dominique" "Jacques L. Pierre" "Jacques L. Pierre" "Bernaud Dominique" ...
 $ identification_method     : chr  NA NA NA NA ...
 $ identification_reference  : chr  NA NA NA NA ...
 $ tax_note                  : logi  NA NA NA NA NA NA ...
 $ voucher_status            : chr  NA NA NA NA ...
 $ tissue_type               : chr  NA NA NA NA ...
 $ collection_event_id       : logi  NA NA NA NA NA NA ...
 $ collectors                : chr  "JP Lequeux" "Vingergoedt" "Vingerhoedt" "Lequeux" ...
 $ collectiondate_start      : logi  NA NA NA NA NA NA ...
 $ collectiondate_end        : logi  NA NA NA NA NA NA ...
 $ collectiontime            : chr  NA NA NA NA ...
 $ collection_note           : chr  NA NA NA NA ...
 $ site_code                 : chr  NA NA NA NA ...
 $ sampling_protocol         : chr  NA NA NA NA ...
 $ lifestage                 : chr  "A" "A" "A" "A" ...
 $ sex                       : chr  "M" "M" "M" "M" ...
 $ reproduction              : chr  "S" "S" "S" "S" ...
 $ habitat                   : chr  NA NA NA NA ...
 $ associated_specimens      : chr  NA NA NA NA ...
 $ associated_taxa           : chr  NA NA NA NA ...
 $ extrainfo                 : chr  NA NA NA "Paratype" ...
 $ notes                     : chr  NA NA NA NA ...
 $ lat                       : num  0.5 NA NA NA NA ...
 $ lon                       : num  30 NA NA NA NA ...
 $ coord_source              : chr  NA NA NA NA ...
 $ coord_accuracy            : num  NA NA NA NA NA NA NA NA NA NA ...
 $ elev                      : num  NA NA NA NA NA ...
 $ depth                     : logi  NA NA NA NA NA NA ...
 $ elev_accuracy             : num  NA NA NA NA NA NA NA NA NA NA ...
 $ depth_accuracy            : logi  NA NA NA NA NA NA ...
 $ country                   : chr  "Uganda" "Kenya" "Kenya" "Uganda" ...
 $ province_state            : chr  NA NA NA NA ...
 $ region                    : chr  NA NA NA NA ...
 $ sector                    : chr  NA NA NA NA ...
 $ exactsite                 : chr  "Semliki Fst" NA NA "Patiko - Gulu" ...
 $ image_ids                 : chr  NA NA NA NA ...
 $ image_urls                : chr  NA NA NA NA ...
 $ media_descriptors         : chr  NA NA NA NA ...
 $ captions                  : chr  NA NA NA NA ...
 $ copyright_holders         : chr  NA NA NA NA ...
 $ copyright_years           : chr  NA NA NA NA ...
 $ copyright_licenses        : chr  NA NA NA NA ...
 $ copyright_institutions    : chr  NA NA NA NA ...
 $ photographers             : chr  NA NA NA NA ...
 $ sequenceID                : int  3433346 3326280 3326300 3701223 3696276 4473416 4470826 4470890 4470850 4496624 ...
 $ markercode                : chr  "COI-5P" "COI-5P" "COI-5P" "COI-5P" ...
 $ genbank_accession         : chr  "HQ546425" "HQ546483-SUPPRESSED" "HQ546506-SUPPRESSED" "HQ920054" ...
 $ nucleotides               : chr  "AACTCTATACTTTATTTTCGGGATTTGAGCAGGATTAATTGGAACCTCCTTAAGTCTTTTAATTCGAGTAGAATTAAGTAATCCAGGATCCTTTATTAATGATGATCAAAT"| __truncated__ "AACTTTATATTTTATTTTTGGTATTTGATCGGGAATAATTGGAACATCATTAAGTTTATTAATTCGAACAGAATTAGGTAACCCAGGGTCTTTAATTGGAGATGATCAAAT"| __truncated__ "AACATTATATTTTATTTTTGGGATCTGATCTGGAATAGTAGGGACATCTTTAAGTATACTAATTCGAATAGAACTAGGAAATCCTGGATGTTTAATTGGGGATGATCAAAT"| __truncated__ "AACTTTATATTTTATTTTTGGAATTTGAGCAGGACTAATCGGTACCTCTCTCAGTTTATTAATTCGAATTGAATTAAGTAACCCTGGATCCTTTATTAATAATGACCAAAT"| __truncated__ ...
 $ trace_ids                 : chr  "1785152|1785179|1785206|1785234" "1523835|1523917" "1523857|1523939" "2406424|2406465" ...
 $ trace_names               : chr  "ACRJP031-09[LepF1,MLepR1]_F.ab1|ACRJP031-09[LepF1,MLepR1]_R.ab1|ACRJP031-09[MLepF1,LepR1]_F.ab1|ACRJP031-09[MLe"| __truncated__ "ACRJP194-09[LepF1,LepR1]_F.ab1|ACRJP194-09[LepF1,LepR1]_R.ab1" "ACRJP221-09[LepF1,LepR1]_F.ab1|ACRJP221-09[LepF1,LepR1]_R.ab1" "ACRJP419-10[LepF1,LepR1]_F.ab1|ACRJP419-10[LepF1,LepR1]_R.ab1" ...
 $ trace_links               : chr  "http://trace.boldsystems.org/traceIO/bold.org/1509880|http://trace.boldsystems.org/traceIO/bold.org/1509907|htt"| __truncated__ "http://trace.boldsystems.org/traceIO/bold.org/1257014|http://trace.boldsystems.org/traceIO/bold.org/1257096" "http://trace.boldsystems.org/traceIO/bold.org/1257036|http://trace.boldsystems.org/traceIO/bold.org/1257118" "http://trace.boldsystems.org/traceIO/bold.org/2099969|http://trace.boldsystems.org/traceIO/bold.org/2100010" ...
 $ run_dates                 : chr  "2009-12-16 19:48:40|2009-12-16 20:33:35|2009-12-19 23:31:55|2009-12-21 21:55:25" "2009-07-31 16:03:03|2009-07-31 20:20:54" "2009-07-31 16:03:03|2009-07-31 20:20:54" "2010-09-24 20:13:35|2010-09-24 21:39:54" ...
 $ sequencing_centers        : chr  "Biodiversity Institute of Ontario|Biodiversity Institute of Ontario|Biodiversity Institute of Ontario|Biodivers"| __truncated__ "Biodiversity Institute of Ontario|Biodiversity Institute of Ontario" "Biodiversity Institute of Ontario|Biodiversity Institute of Ontario" "Biodiversity Institute of Ontario|Biodiversity Institute of Ontario" ...
 $ directions                : chr  "F|R|F|R" "F|R" "F|R" "F|R" ...
 $ seq_primers               : chr  "LepF1|MLepR1|MLepF1|LepR1" "LepF1|LepR1" "LepF1|LepR1" "LepF1|LepR1" ...
 $ marker_codes              : chr  "COI-5P|COI-5P|COI-5P|COI-5P" "COI-5P|COI-5P" "COI-5P|COI-5P" "COI-5P|COI-5P" ...

### Copeland's data

In [8]:
#cat(unique((bold_data$collectors[grep("Copeland", bold_data$collectors)])),sep=" | ")
#as.data.frame(table(c(bold_data$collectors[grep("Copeland", bold_data$collectors)])))
#as.data.frame(table(c(bold_data$collectors)))
#cop_data <- bold_data[!!(bold_data$collectors %in% c(paste(unique(bold_data$collectors[grep("Copeland", bold_data$collectors)]),sep="\" , \""))), ]
#cop_data <- subset(bold_data, subset = collectors %in% c(paste(unique(bold_data$collectors[grep("Copeland", bold_data$collectors)]),sep="\" , \"")))
#c(cat(unique(bold_data$collectors[grep("Copeland", bold_data$collectors)]),sep="\" , \""))
#str(cop_data)
nrow(cop_data)
as.data.frame(table(c(cop_data$marker_codes)))
as.data.frame(table(c(cop_data$order_name)))
#as.data.frame(table(c(cop_data$lat)))
nrow(subset(cop_data, !is.na(lat) & marker_codes == "COI-5P" & !is.na(genus_name)))
as.data.frame(table(c((subset(cop_data, !is.na(lat) & marker_codes == "COI-5P" & !is.na(genus_name)))$order_name)))

R.Copeland | RS Copeland | R. Copeland | R.S. Copeland | R Copeland | R.S.Copeland | R. S. Copeland | Robert Copeland | J. Bukhebi & RS Copeland | R S Copeland | J.Bukhebi & R S Copeland | R S.Copeland | RS  Copeland | R.S Copeland | J.Bukhebi & R.S Copeland | J.Bukhebi & RS Copeland | Bob Copeland

   Var1                     Freq
1  Bob Copeland               10
2  J. Bukhebi & RS Copeland  895
3  J.Bukhebi & R S Copeland   41
4  J.Bukhebi & R.S Copeland   16
5  J.Bukhebi & RS Copeland    83
6  R Copeland                 35
7  R S Copeland              196
8  R S.Copeland               19
9  R. Copeland               526
10 R. S. Copeland            144
11 R.Copeland                 20
12 R.S Copeland               29
13 R.S. Copeland             436
14 R.S.Copeland               32
15 Robert Copeland          2603
16 RS  Copeland               26
17 RS Copeland              1922

     Var1                                                                Freq
1    . Onbekend                                                            9
2    0                                                                     1
3    0G 1984GR00402                                                        1
4    2016 Allendale Class                                                 41
5    2rd year UKZN students                                               12
6    989 m                                                                 1
7    A Barbet                                                              1
8    A Bok                                                                 1
9    A Eicker                                                              1
10   A Fotie                                                               4
11   A Fraser                                                             91
12   A Galal-Khallaf                                                      20
13   A H Kirk-Spriggs                                                      2
14   A Hausmann                                                            2
15   A Honiball                                                            5
16   A J Urban                                                             6
17   A Jakiel, A Stepien, P Jozwiak, B Serigstad, M Blazewicz-Paszkowycz   2
18   A Meunier                                                            41
19   A Oldewage                                                            3
20   A Rakotoarisolo                                                       1
21   A Viviers                                                             3
22   A Watsham                                                             7
23   A Whitfield                                                           9
24   A. A. Enti                                                            3
25   A. Afolabi                                                           15
26   A. Ahamadi                                                           10
27   A. Alvarez                                                            3
28   A. Apinda, T. Zidat                                                 155
29   A. Aulombard                                                          8
30   A. B. Williams                                                       42
⋮    ⋮                                                                   ⋮
6321 Z. Hora                                                                1
6322 Z. Marzouk                                                            38
6323 Z. Musilova, L. Kalous                                                 1
6324 Z. Shoba & K. Waddington                                              16
6325 Z. Shoba, K. Waddington                                              677
6326 Z. shoba, K. Waddington & S. Singh                                    20
6327 Z. Shoba, K. Waddington, S. Singh                                     99
6328 Z. Shoba, M. Ziganira                                               2218
6329 Z. Weidenhoffer (CZ)                                                   1
6330 Z.T. Nagi                                                              3
6331 Zach Kobrinsky                                                        11
6332 Zacharie Sohou                                                         1
6333 Zaloumis S.P.                                                          1
6334 Zambatis G.                                                            7
6335 Zambatis N.                                                           39
6336 Zambatis N...                                                          1
6337 Zambatis, N.                                                           1
6338 Zantovska                                                              1
6339 Zdenko Tokar                                                           2
6340 Zeinab Soliman                                                         1
6341 Zerny                                                                  2
6342 Zietsman PC                                                            2
6343 Zietsman, P.C.                                                         3
6344 Zietzman, P.C. & Peyper, T.                                            1
6345 ZMUC expedition                                                        2
6346 Zool. Mus. Copenhagen Expedition                                       2
6347 Zoologische Staatssammlung Muenchen (D)                                2
6348 Zoubir Harrat                                                         10
6349 Zumbado Manuel Angel                                                  37
6350 Zwick, Andreas                                                         1

[1] 7033

  Var1   Freq
1 COI-5P 6795

   Var1             Freq
1  Araneae             2
2  Blattodea          39
3  Coleoptera       1034
4  Diptera          2154
5  Hemiptera         524
6  Hymenoptera      1558
7  Lepidoptera      1612
8  Mantodea            2
9  Neuroptera         16
10 Orthoptera         18
11 Pseudoscorpiones    2
12 Psocodea           69
13 Thysanoptera        3

[1] 718

  Var1        Freq
1 Diptera      21
2 Hymenoptera  27
3 Lepidoptera 670

In [9]:
cat(length(unique(sample_data$markercode)),
    "markers are represented in the East African data set")
#unique(sample_data$markercode) # filtering rows corresponding to COI-5P markers
as.data.frame(table(c(sample_data$markercode)))

22 markers are represented in the East African data set

   Var1      Freq
1  12S           9
2  16S          16
3  18S           3
4  28S         465
5  28S-D2       10
6  28S-D2-D3     3
7  AATS          1
8  ARK           1
9  CAD           2
10 COI-3P      163
11 COI-5P    39806
12 COI-LIKE      3
13 COII          6
14 CYTB         19
15 EF1-alpha    18
16 ENO           1
17 H4            2
18 ITS2        418
19 PGD           1
20 TPI           1
21 Wnt1          5

### **Phyla represented in the bold data**
Despite our focus on arthropoda phylum, additional records from 38 phyla were downloaded

In [10]:
cat(length(unique(bold_data$phylum_name)), "phyla are represented in bold_data: ")
as.data.frame(table(c(bold_data$phylum_name)))
cat(length(unique(sample_data$phylum_name)), "phyla are represented in East African data: ")
as.data.frame(table(c(sample_data$phylum_name)))

39 phyla are represented in bold_data:

   Var1               Freq
1  Acanthocephala          1
2  Actinobacteria         70
3  Algeria                70
4  Annelida             2165
5  Apicomplexa           618
6  Arthropoda         213197
7  Ascomycota           1662
8  Basidiomycota         386
9  Bryophyta             130
10 Bryozoa                 8
11 Charophyta              2
12 Chlorarachniophyta      1
13 Chlorophyta           141
14 Chordata            28211
15 Cnidaria              107
16 Cycadophyta           303
17 Echinodermata         701
18 Euryarchaeota           2
19 Glomeromycota          74
20 Gnetophyta              4
21 Heterokontophyta      119
22 Lycopodiophyta          1
23 Magnoliophyta       22368
24 Marchantiophyta       267
25 Mollusca             5294
26 Nematoda              111
27 Nematomorpha            3
28 Ochrophyta             52
29 Pinophyta              42
30 Platyhelminthes       498
31 Porifera               28
32 Proteobacteria       1623
33 Pteridophyta          466
34 Pyrrophycophyta         5
35 Rhodophyta            417
36 Rotifera               43
37 Streptophyta            4
38 Tardigrada              6
39 Zygomycota              5

1 phyla are represented in East African data:

  Var1       Freq
1 Arthropoda 41238

### **Focusing on arthropoda phylum**
**1. Number of records from African Countries**

In [11]:
arthropoda_data1 = subset(bold_data, phylum_name == "Arthropoda")
cat("bold_data have", nrow(arthropoda_data1), "arthropoda records out of", 
    nrow(bold_data), "records in the raw bold_data")
arthropoda_data = subset(bold_data, phylum_name == "Arthropoda" )#& country != "United States")
cat("\nbold_data have", nrow(arthropoda_data), "arthropoda records out of", 
    nrow(bold_data), "records in the raw bold data")
arthropoda_data -> bold_dataframe
sample_dataframe = subset(sample_data, phylum_name == "Arthropoda")

bold_data have 213197 arthropoda records out of 279205 records in the raw bold_data
bold_data have 213197 arthropoda records out of 279205 records in the raw bold data

**2. Here are the African countries represented in the athropod data**

In [12]:
cat(length(unique(bold_dataframe$country)), "countries are represented in bold_dataframe: ")
#cat(c(unique(bold_dataframe$country)), sep=";")
as.data.frame(table(c(bold_dataframe$country)))

57 countries are represented in bold_dataframe:

   Var1                             Freq
1  Algeria                            785
2  Angola                             426
3  Benin                              861
4  Botswana                           134
5  Burkina Faso                       229
6  Burundi                            225
7  Cameroon                          5591
8  Cape Verde                         167
9  Central African Republic          3105
10 Chad                                16
11 Comoros                           1200
12 Costa Rica                        1281
13 Cote d'Ivoire                      504
14 Democratic Republic of the Congo  4710
15 Djibouti                            40
16 Egypt                            19603
17 Equatorial Guinea                  413
18 Eritrea                             24
19 Ethiopia                          3045
20 Gabon                            13867
21 Gambia                             109
22 Ghana                             3121
23 Guinea                             604
24 Guinea-Bissau                       85
25 Kenya                            24818
26 Lesotho                             12
27 Liberia                            336
28 Libya                               33
29 Madagascar                       43740
30 Malawi                            1553
31 Mali                               295
32 Mauritania                         109
33 Mauritius                         1332
34 Morocco                           3403
35 Mozambique                         721
36 Namibia                           1033
37 Niger                               32
38 Nigeria                           2042
39 Republic of the Congo              991
40 Reunion                            807
41 Rwanda                             745
42 Sao Tome and Principe              206
43 Senegal                           1230
44 Seychelles                        1349
45 Sierra Leone                       270
46 Somalia                            144
47 South Africa                     51887
48 South Sudan                          3
49 Sudan                              112
50 Swaziland                           78
51 Tanzania                          8763
52 Togo                               246
53 Tunisia                           1663
54 Uganda                            1784
55 United States                        2
56 Zambia                            2117
57 Zimbabwe                          1196

### **What looks interesting?**
#### **1.Taxonomy**
**Taking a deeper look at the taxa variables: phylum,class,order and family**

In [14]:
unique(bold_dataframe$phylum_name)

[1] "Arthropoda"

### **classes represented in the bold_dataframe**

In [15]:
cat("African arthropod data is distrubed in taxa classes as follows:")
as.data.frame(table(c(bold_dataframe$class_name)))
cat("East African arthropod data is distrubed in taxa classes as follows:")
as.data.frame(table(c(sample_dataframe$class_name)))

African arthropod data is distrubed in taxa classes as follows:

  Var1    Freq
1 Insecta 33481

East African arthropod data is distrubed in taxa classes as follows:

ERROR: Error in table(c(sample_dataframe$class_name)): object 'sample_dataframe' not found

#### **orders represented**

In [16]:
cat(length(unique(bold_dataframe$order_name)), 
    "orders are indicated in African arthropod data: ")
cat(unique(bold_dataframe$order_name),sep=";","\n\n")
cat(length(unique(sample_dataframe$order_name)), 
    "orders are indicated in East African arthropod data: ")
cat(unique(sample_dataframe$order_name),sep=";")

1 orders are indicated in African arthropod data: Diptera;

ERROR: Error in unique(sample_dataframe$order_name): object 'sample_dataframe' not found

#### **Families represented**

In [17]:
cat(length(unique(bold_dataframe$family_name)), 
    "families are indicated in the African Data: ")
cat(unique(bold_dataframe$family_name),sep=";","\n\n")
cat(length(unique(sample_dataframe$family_name)), 
    "families are indicated in the East African Data: ")
cat(unique(sample_dataframe$family_name),sep=";")

1 families are indicated in the African Data: Psychodidae;

ERROR: Error in unique(sample_dataframe$family_name): object 'sample_dataframe' not found

### **genera and species names featured**

In [18]:
#genera
cat(length(unique(bold_dataframe$genus_name)), "genus_names")
#species
cat(" and ", length(unique(bold_dataframe$species_name)), 
    "species_names are featured in the African arthropod data set\n\n")
#genera
cat(length(unique(sample_dataframe$genus_name)), "genus_names")
#species
cat(" and ", length(unique(sample_dataframe$species_name)), 
    "species_names are featured in the East African arthropod data set")

41 genus_names and  306 species_names are featured in the African arthropod data set

ERROR: Error in unique(sample_dataframe$genus_name): object 'sample_dataframe' not found

### **Identify the container projects from which the data sets come from. Try using the copyright\***

In [19]:
cat(length(unique(bold_dataframe$copyright_institution)),
    "copyright institutions are featured in the African arthropod data set\n")
#output a list with so many missing values, **NOT IDEAL** for use.
cat(length(unique(sample_dataframe$copyright_institution)),
    "copyright institutions are featured in the East African arthropod data set ")

13 copyright institutions are featured in the African arthropod data set

ERROR: Error in unique(sample_dataframe$copyright_institution): object 'sample_dataframe' not found

In [20]:
cat(length(unique(bold_dataframe$copyright_holders)),
    "copyright holders are featured in the African arthropod data set\n")
#output with so many missing values "NA"
cat(length(unique(sample_dataframe$copyright_holders)),
    "copyright holders are featured in the East African arthropod data set")

11 copyright holders are featured in the African arthropod data set

ERROR: Error in unique(sample_dataframe$copyright_holders): object 'sample_dataframe' not found

### **Taking a look at the markercode field.**

In [22]:
cat(length(unique(bold_dataframe$markercode)),
    "markers are represented in the African data set")
as.data.frame(table(c(bold_dataframe$markercode)))
#unique(bold_dataframe$markercode) # filtering rows corresponding to COI-5P markers
cat(length(unique(sample_dataframe$markercode)),
    "markers are represented in the East African data set")
as.data.frame(table(c(sample_dataframe$markercode)))
#unique(sample_dataframe$markercode) # filtering rows corresponding to COI-5P markers

6 markers are represented in the African data set

  Var1   Freq
1 COI-3P    40
2 COI-5P 33253
3 ND1        1
4 ND4        1
5 ND5-0      1

ERROR: Error in unique(sample_dataframe$markercode): object 'sample_dataframe' not found

#### **Genebank_accession numbers**

In [23]:
cat("There are ",length(unique(bold_dataframe$genbank_accession)), 
    "genbank accession numbers in the African arthropod records out of ",
    nrow(bold_dataframe),"records.\n")
cat("There are ",length(unique(sample_dataframe$genbank_accession)), 
    "genbank accession numbers in the East African arthropod records out of ",
    nrow(sample_dataframe),"records.")

There are  13299 genbank accession numbers in the African arthropod records out of  33481 records.

ERROR: Error in unique(sample_dataframe$genbank_accession): object 'sample_dataframe' not found

#### **Cleaning up the dataset to remain only with COI-5P sequences**

**1. Removing sequences from other classes and markers beside Insecta and COI-5P**

In [24]:
COI_Insect_Afrodata = subset(
    bold_dataframe, class_name == "Insecta" & markercode == "COI-5P" & !is.na(nucleotides) )
cat("African data set has", nrow(COI_Insect_Afrodata),"Insecta records out of", 
    nrow(bold_dataframe), "African arthropod records\n\n")
COI_Insect_EAfrodata = subset(
    sample_dataframe, markercode == "COI-5P" & !is.na(nucleotides) & class_name == "Insecta")
cat("Insect COI-5P marker sequences are ",nrow(COI_Insect_EAfrodata)," out of ", 
    nrow(sample_dataframe), "sequences in the East African bold data")
as.data.frame(table(c((COI_Insect_Afrodata)$class_name)))
as.data.frame(table(c((COI_Insect_Afrodata)$order_name)))

African data set has 33253 Insecta records out of 33481 African arthropod records

ERROR: Error in subset(sample_dataframe, markercode == "COI-5P" & !is.na(nucleotides) & : object 'sample_dataframe' not found

In [25]:
as.data.frame(table(c((subset(COI_Insect_Afrodata, order_name == "Diptera"))$family_name)))

  Var1        Freq
1 Psychodidae 33253

In [26]:
as.data.frame(table(c((subset(COI_Insect_Afrodata, order_name == "Lepidoptera"))$family_name)))

     Freq

In [27]:
nonInsecta_data = subset(bold_dataframe, class_name != "Insecta")
cat (nrow(nonInsecta_data), "records in non-insecta classes \nclasses: ",
     unique(nonInsecta_data$class_name))
as.data.frame(table(c((nonInsecta_data)$class_name)))
cat("The order taxa represented in Arachnida class are:")
as.data.frame(table(c((subset(bold_dataframe, class_name == "Arachnida"))$order_name)))
cat("\n",nrow(subset(bold_dataframe, class_name == "Malacostraca")), "Malacostraca: orders;",
    unique((subset(bold_dataframe, class_name == "Malacostraca")$order_name)))
cat("\n",nrow(subset(bold_dataframe, class_name == "Diplopoda")), "Diplopoda: orders;",
    unique((subset(bold_dataframe, class_name == "Diplopoda")$order_name)))
cat("\n",nrow(subset(bold_dataframe, class_name == "Branchiopoda")), "Branchiopoda: orders;",
    unique((subset(bold_dataframe, class_name == "Branchiopoda")$order_name)))
cat("\n",nrow(subset(bold_dataframe, class_name == "Ostracoda")), "Ostracoda: orders;"
    ,unique((subset(bold_dataframe, class_name == "Ostracoda")$order_name)))

0 records in non-insecta classes
classes:

     Freq

The order taxa represented in Arachnida class are:

     Freq

 0 Malacostraca: orders;
 0 Diplopoda: orders;
 0 Branchiopoda: orders;
 0 Ostracoda: orders;

## **Focusing on our Sample data(East African data set)**
#### **Analysing nucleotide sequences (nucleotides)**

In [28]:
typeof(COI_Insect_EAfrodata$nucleotides)

ERROR: Error in typeof(COI_Insect_EAfrodata$nucleotides): object 'COI_Insect_EAfrodata' not found

**1. Introducing a field "seqlen1" that has the number of nucleotides in the COI-5P**

In [29]:
COI_Insect_EAfrodata %>% mutate(seqlen1 = nchar(nucleotides)) -> resulting_dataframe1
## ""%>%"" is same as pipe "|" in bash

ERROR: Error in eval(lhs, parent, parent): object 'COI_Insect_EAfrodata' not found

**2. List all characters present in the nucleotide sequences**

In [30]:
unique(unlist(strsplit(COI_data$nucleotides, "", fixed = TRUE)), incomparables = FALSE)

ERROR: Error in strsplit(COI_data$nucleotides, "", fixed = TRUE): object 'COI_data' not found

**3. Number of nucleotide sequences with '-' characters* in them**

In [31]:
length(grep( '-',resulting_dataframe1$nucleotides, value= TRUE))

ERROR: Error in grep("-", resulting_dataframe1$nucleotides, value = TRUE): object 'resulting_dataframe1' not found

**4. REMOVING '-' characters from nucleotide sequences and creating a field of unalinged nucleotide sequences (unalined_nucleotides)**

In [32]:
resulting_dataframe1 %>% mutate(unaligned_nucleotides = gsub(
    '-', '', resulting_dataframe1$nucleotides, ignore.case = FALSE, perl = FALSE,
    fixed = FALSE, useBytes = FALSE)) -> resulting_dataframe2

ERROR: Error in eval(lhs, parent, parent): object 'resulting_dataframe1' not found

In [33]:
#Number of nucleotide sequences with '-' characters* in them after removal
length(grep( '-',resulting_dataframe2$unaligned_nucleotides, value= TRUE))

ERROR: Error in grep("-", resulting_dataframe2$unaligned_nucleotides, value = TRUE): object 'resulting_dataframe2' not found

**5. Introducing a field seqlen2 with number nucleotides in unaligned_nucleotides field**

In [34]:
resulting_dataframe2 %>% mutate(seqlen2 = nchar(unaligned_nucleotides)) -> resulting_dataframe3

ERROR: Error in eval(lhs, parent, parent): object 'resulting_dataframe2' not found

In [35]:
str(resulting_dataframe3)

ERROR: Error in str(resulting_dataframe3): object 'resulting_dataframe3' not found

#### **Understanding the distribution of seqlen1 versus seqlen2**

In [36]:
boxplot(resulting_dataframe1$seqlen1, resulting_dataframe3$seqlen2)

ERROR: Error in boxplot(resulting_dataframe1$seqlen1, resulting_dataframe3$seqlen2): object 'resulting_dataframe1' not found

In [37]:
hist(resulting_dataframe3$seqlen1); hist(resulting_dataframe3$seqlen2)

ERROR: Error in hist(resulting_dataframe3$seqlen1): object 'resulting_dataframe3' not found

ERROR: Error in hist(resulting_dataframe3$seqlen2): object 'resulting_dataframe3' not found

### **Sorting the data based on the nucleotide length of sequences**

1. **Generating a file with all 'COI-5P' sequences**

In [38]:
resulting_dataframe3 -> COI_all_data
cat(length(COI_all_data$unaligned_nucleotides),"sequences have 'COI-5P' marker")

ERROR: Error in eval(expr, envir, enclos): object 'resulting_dataframe3' not found

2. **Introducing a filter to remove sequences with less than 500 nucleotides**

In [39]:
COI_all_data %>% filter(seqlen2 >= 500 ) -> COI_Over499_data
cat(length(COI_Over499_data$unaligned_nucleotides),"sequences have more or equivalent to 500 bases")

ERROR: Error in eval(lhs, parent, parent): object 'COI_all_data' not found

3. **Introducing a filter to remove any sequence with less than 500 and over 700 nucleotides**

In [40]:
COI_all_data %>% filter(seqlen2 >= 500 & seqlen2 <= 700) -> COI_500to700_data
cat(length(COI_500to700_data$unaligned_nucleotides),"sequences have from 500 to 700 bases")

ERROR: Error in eval(lhs, parent, parent): object 'COI_all_data' not found

In [41]:
hist(COI_500to700_data$seqlen2)

ERROR: Error in hist(COI_500to700_data$seqlen2): object 'COI_500to700_data' not found

4. **Introducing a filter to remove any sequence with less than 650 and over 660 nucleotides**

In [42]:
COI_all_data %>% filter(seqlen2 >= 650 & seqlen2 <= 660) -> COI_650to660_data
cat(length(COI_650to660_data$unaligned_nucleotides),"sequences have from 650 to 660 bases")

ERROR: Error in eval(lhs, parent, parent): object 'COI_all_data' not found

5. **Introducing a filter to remove any sequence with over 500 nucleotides**

In [43]:
COI_all_data %>% filter(seqlen2 < 500) -> COI_Under500_data
cat(length(COI_Under500_data$unaligned_nucleotides),"sequences have less than 500 bases")

ERROR: Error in eval(lhs, parent, parent): object 'COI_all_data' not found

6. **Introducing a filter to remove any sequence with less than 700 nucleotides**

In [44]:
COI_all_data %>% filter(seqlen2 > 700) -> COI_Over700_data
cat(length(COI_Over700_data$unaligned_nucleotides),"sequences have more than 700 bases")

ERROR: Error in eval(lhs, parent, parent): object 'COI_all_data' not found

### **Randomly sampling 100 sequences from data sets for use in testing the pipeline**

**1. sampling from all insecta COI-5P data irregardless of sequnce length**

In [45]:
COI_testa00_data <- COI_all_data[sample(nrow(COI_all_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_all_data' not found

In [46]:
boxplot(COI_testa00_data$seqlen2)

ERROR: Error in boxplot(COI_testa00_data$seqlen2): object 'COI_testa00_data' not found

**2. Sampling from insecta COI-5P data with 500 to 700 nucleotide sequence length**

In [47]:
COI_testb01_data <- COI_500to700_data[sample(nrow(COI_500to700_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_500to700_data' not found

In [48]:
boxplot(COI_testb01_data$seqlen2)

ERROR: Error in boxplot(COI_testb01_data$seqlen2): object 'COI_testb01_data' not found

In [49]:
COI_testb02_data <- COI_500to700_data[sample(nrow(COI_500to700_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_500to700_data' not found

In [50]:
boxplot(COI_testb02_data$seqlen2)

ERROR: Error in boxplot(COI_testb02_data$seqlen2): object 'COI_testb02_data' not found

In [51]:
COI_testb03_data <- COI_500to700_data[sample(nrow(COI_500to700_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_500to700_data' not found

In [52]:
boxplot(COI_testb03_data$seqlen2)

ERROR: Error in boxplot(COI_testb03_data$seqlen2): object 'COI_testb03_data' not found

**3. Sampling from insecta COI-5P data with 650 to 660 nucleotide sequence length**

In [53]:
COI_testc04_data <- COI_650to660_data[sample(nrow(COI_650to660_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_650to660_data' not found

In [54]:
boxplot(COI_testc04_data$seqlen2)

ERROR: Error in boxplot(COI_testc04_data$seqlen2): object 'COI_testc04_data' not found

In [55]:
COI_testc05_data <- COI_650to660_data[sample(nrow(COI_650to660_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_650to660_data' not found

In [56]:
boxplot(COI_testc05_data$seqlen2)

ERROR: Error in boxplot(COI_testc05_data$seqlen2): object 'COI_testc05_data' not found

**4. Sampling from insecta COI-5P data with under 500 nucleotide sequence length**

In [57]:
COI_testd06_data <- COI_Under500_data[sample(nrow(COI_Under500_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_Under500_data' not found

In [58]:
boxplot(COI_testd06_data$seqlen2)

ERROR: Error in boxplot(COI_testd06_data$seqlen2): object 'COI_testd06_data' not found

**5. Sampling from insecta COI-5P data with over 700 nucleotide sequence length**

In [59]:
COI_teste07_data <- COI_Over700_data[sample(nrow(COI_Over700_data), 100), ]

ERROR: Error in eval(expr, envir, enclos): object 'COI_Over700_data' not found

In [60]:
boxplot(COI_teste07_data$seqlen2)

ERROR: Error in boxplot(COI_teste07_data$seqlen2): object 'COI_teste07_data' not found

In [61]:
ls()

[1] "arthropoda_data"     "arthropoda_data1"    "bold_data"
[4] "bold_dataframe"      "COI_Insect_Afrodata" "nonInsecta_data"

In [62]:
getwd()

[1] "/home/kibet/bioinformatics/github/co1_metaanalysis/code"

## **Saving final tidy copies of the data to** ***'/co1_metaanalysis/Data/input'*** **directory**

In [494]:
### Printing copies of the final tidy files
datalist = lapply(c("COI_all_data", "COI_Over499_data", "COI_500to700_data",
                    "COI_650to660_data", "COI_Over700_data", "COI_Under500_data",
                    "COI_testa00_data", "COI_testb01_data", "COI_testb02_data",
                    "COI_testb03_data", "COI_testc04_data", "COI_testc05_data",
                    "COI_testd06_data", "COI_teste07_data"), get)
names(datalist) <- (c("../data/input/test_data/COI_all_data",
                      "../data/input/test_data/COI_Over499_data",
                      "../data/input/test_data/COI_500to700_data",
                      "../data/input/test_data/COI_650to660_data",
                      "../data/input/test_data/COI_Over700_data",
                      "../data/input/test_data/COI_Under500_data",
                      "../data/input/test_data/COI_testa00_data",
                      "../data/input/test_data/COI_testb01_data",
                      "../data/input/test_data/COI_testb02_data",
                      "../data/input/test_data/COI_testb03_data",
                      "../data/input/test_data/COI_testc04_data",
                      "../data/input/test_data/COI_testc05_data",
                      "../data/input/test_data/COI_testd06_data",
                      "../data/input/test_data/COI_teste07_data"))
for (i in 1:length(datalist)) {
    write.table(datalist[i], file = paste(
        names(datalist[i]), ".tsv", sep = ""), 
                row.names = FALSE, col.names= TRUE, sep = "\t", quote=FALSE)
}

In [43]:
length(which(is.na(COI_500to700_data$order_name)))

[1] 0